<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YFPushTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B848CAD51CCF37F5005F4FF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B848CAEE1CCF37F5005F4FF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B848CAF91CCF37F5005F4FF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
